
.step1_section_container{
  display: flex;
  width: 60%;
  justify-content:space-evenly;
  margin-top: 3rem;
}

.step1_section_container .step1_image img{
    width: 18rem;
    height: auto;
}

.step1_section_container .step1_info_container{
    text-align: start;
    display: flex;
    flex-direction: column;
    width: 53%;
}

.step1_section_container .step1_info_container  p{
    font-size: 0.9rem;
    color: rgb(105, 127, 145);
    font-weight: 600;
}

.step1_section_container .step1_info_container .step1_heading{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.2rem;
}
.step1_section_container .step1_info_container .step1_heading h2{
    margin-top: 0;
    margin-bottom: 0;
}

.step1_section_container .step1_info_container .step1_heading img{
    width: 2.5rem;
    height: auto;
}



@media (max-width: 450px){

    .step1_section_container{
        flex-direction: column-reverse;
        width: 100vw;
        align-items:center;
      }
      
      .step1_section_container .step1_info_container {
          text-align:center;
          align-items: center;
          width: 100%;
          padding: 1rem;
      }

      .step1_section_container .step1_image img{
        width: 12rem;
    }

      .step1_section_container .step1_info_container .step1_info{
        padding:2rem;
      }
      
      .step1_section_container .step1_info_container  p{
          text-align: center;
          width: 100%;
      }
      
      .step1_section_container .step1_info_container .step1_heading{
          gap: 1rem;
          margin-bottom: 0;
          margin-top: 1rem;
      }
      
      .step1_section_container .step1_info_container .step1_heading img{
          width: 2.2rem;
      }
}