
.Home_footer_section{
    display: flex;
    height: fit-content;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    border-top: solid  rgb(63, 63, 63) 1px;
}
.Home_footer_section .footer_mainContent{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
}
.Home_footer_section .Home_footer_info{
    width: 12rem;
    text-align: start;
}
.Home_footer_section .Home_footer_info p{
    font-size: 0.7rem;  
    font-weight: 400;
    color: rgb(105, 127, 145);
    margin-top: 0;
}

.Home_footer_section .Home_Footer_logo_container{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}


.Home_footer_section .Home_Footer_logo_container img{
    width:6rem;
    height: auto;
}
/* .Home_footer_section .Home_Footer_logo_container h1{
    font-size: 1.5rem;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
} */

.Home_footer_section.footer_siteMap h2{
margin-bottom: 0;
}
.Home_footer_section .siteMap_tabs{
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
}
.Home_footer_section .siteMap_tabs p{
    font-size: 0.7rem;  
    font-weight: 400;
    color: rgb(105, 127, 145); 
    margin-bottom: 0;
    padding-bottom: 0;
}

.Home_footer_section h2{
    font-size: 0.9rem;
}


.footer_legals p{
    font-size: 0.7rem;  
    font-weight: 400;
    color: rgb(105, 127, 145);  
    margin-bottom: 0;
    padding-bottom: 0;
}
.footer_legals h2{
    font-size: 0.9rem;
}


.footer_social .socials_container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}
.footer_social .socials_container a{
text-decoration: none;
font-size: 0.7rem;  
font-weight: 400;
color:rgb(105, 127, 145); 
margin-bottom: 0;
padding-bottom: 0;
display: flex;
align-items: center;
gap: 0.3rem;
}
.footer_social .socials_container a img{
    width: 1.5rem;
}

.Home_footer_section .footer_rights{
width: 100vw;
margin-top: 1rem;
font-size: 0.8rem;  
font-weight: 400;
color: rgb(163, 163, 163);
background-color: rgb(43, 43, 43); 
}
.Home_footer_section .footer_rights p{
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}  




@media (max-width: 450px){
    .Home_footer_section .footer_mainContent{
        flex-direction: column;
    }
    .Home_footer_section .Home_footer_info{
        width: 100%;
        text-align: start;
        padding-left: 1rem;
        border-top: solid rgb(2, 112, 0) 1px;
        box-sizing: border-box;
    }
    .Home_footer_section .Home_footer_info p{
        width: 23rem;
    }
    .Home_footer_section .footer_siteMap{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100vw;
        padding-left: 1rem;
        box-sizing: border-box;
        border-top: solid rgb(2, 112, 0) 1px;
        padding-bottom: 1rem;
    }
    .Home_footer_section .siteMap_tabs{
        display: grid;
        column-gap: 0.5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 0;
    }

    .Home_footer_section .footer_legals{
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: start  ;
        padding-left: 1rem;
        box-sizing: border-box;
        border-top: solid rgb(2, 112, 0) 1px;
    }

    .footer_social{
        display: flex;
        flex-direction: column;
        align-items: start;   
        gap: 1rem;
        padding-left: 1rem;
        box-sizing: border-box;
    }
    .footer_social .socials_container{
        display:flex;
        flex-direction: row;
        justify-content: start;
       
    }

    .Home_footer_section .footer_rights{
        font-size: 0.5rem;  
        font-weight: 300;
    }
}
