

.News_box_container{
 display: flex;
 background-color: rgba(1, 1, 1, 0.856);
 border: solid rgb(0, 53, 4) 1px;
 padding: 1rem;
 padding-left: 2rem;
 padding-right: 2rem;
width: 12rem;
height: 8rem;
border-radius: 1rem;
align-items: center;
justify-content: center;
gap: 0.5rem;
}

.News_box_container img{
    width: 2rem;
    height:2rem;
}

.News_box_container:hover{
    transform: scale(1.2);
    transition: transform 0.2s linear;
}

@media (max-width: 450px){
    .News_box_container{
        width: 10rem;
        height: 4rem;
    }
    
}